.columns {

    background-color: white;
    color: black;
	overflow: hidden;
	float: left;
    width: 33.33333333%;
}
.columns:hover {
    background-color: #0099cc;
}

.contacts-info{
    margin: 0 auto;
    padding-top: 20px;
}

header{
	box-shadow: 0 1px 3px 0 grey;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 0 5px 0;
    padding-bottom: 30px;
    
}

h2{
	margin:0;
}

#title{
	padding-top: 30px;
}

#addUserBtn{
	background-color: white;
	float: right;
    margin: 20px;
    top: 80%;
    left: 80%;
    position: fixed;
}

#addUserBtn:hover {
    color: #FA8072;
    background-color: #C0C0C0;
    border-color: #204d74;
}