@charset "utf-8";

.cell {

    background-color: white;
    color: black;
	overflow: hidden;
	float: left;
    width: 33.33333333%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cell:hover {
    background-color: #DCDCDC;
}

.contacts-info{
    margin: 0 auto;
    position: absolute;
    top: 120px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: scroll;
}

header{
	box-shadow: 0 1px 3px 0 grey;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 0 5px 0;
    padding-bottom: 30px;
    position:fixed;
    width:100%;
    background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #D7BDE2 , #EC7063); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #D7BDE2, #EC7063); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #D7BDE2, #EC7063); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #D7BDE2 , #EC7063); /* Standard syntax */
}

h2{
	margin:0;
	float: left;
	color: white;
	font-size:50px;
}

body{
	font-family: 'Patua One', cursive;
    line-height: 3rem;
    font-size: 16px;
}

#title{
	padding-top: 30px;
}

#addUserBtn{
	background-color: white;
	float: right;
    margin: 20px;
    top: 80%;
    left: 85%;
    position: fixed;
}

#addUserBtn:hover {
    color: #FA8072;
    background-color: #C0C0C0;
    border-color: #204d74;
}

#searchBar {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float:right;
}

#searchBar:focus {
    width: 80%;
}