.cell {

    background-color: white;
    color: black;
	overflow: hidden;
	float: left;
    width: 33.33333333%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cell:hover {
    background-color: #DCDCDC;
}

.contacts-info{
    margin: 0 auto;
    position: absolute;
    top: 96px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: scroll;
}

header{
	box-shadow: 0 1px 3px 0 grey;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 0 5px 0;
    padding-bottom: 30px;
    position:fixed;
    width:100%;
}

h2{
	margin:0;
}

body{
	font-family: 'Patua One', cursive;
    line-height: 3rem;
    font-size: 16px;
}

#title{
	padding-top: 30px;
}

#addUserBtn{
	background-color: white;
	float: right;
    margin: 20px;
    top: 80%;
    left: 80%;
    position: fixed;
}

#addUserBtn:hover {
    color: #FA8072;
    background-color: #C0C0C0;
    border-color: #204d74;
}
